{
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@modules": "./src/modules"
        }
      }
    ]
  ]
}
